body {
    background: #ffffff;
    overflow: hidden;
}
canvas {
    background: #ffffff;
    background-size: cover;
    position: relative;
    top: 0em;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}